body {
    margin: 20%;
}
#title {
    text-align: center;
    text-shadow: 5px 5px 10px white;
    font-size: 5vh;
    font-family: serif;
}
img {
    display: inline-block;
    width: 80%;
    padding: 10%;
}
#caption {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
div#tribute-data {
    background-color: rgba(77, 239, 245, 0.25);
    box-shadow: 20px 20px 20px #04b4c0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
    text-align: justify;
}
h1.title-APJ {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}
#tribute-link {
    text-decoration: none;
    color: black;
    text-align:justify;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: bisque;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}